


*.suo

*.userosscache
*.sln.docstates
.vs/


*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.cache
*.cd
*.baml





/VM_NBB/Vision_NBB/.vs
/VM_NBB/Vision_NBB/Connected Services
/VM_NBB/Vision_NBB/bin/x64/Release/log
/VM_NBB/PLCDevice/obj
/VM_NBB/Vision_NBB/obj
